.root {
    -fx-background-color: #D9D7CB;
}

.label {
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #Ff0000;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #D31A38;
}

.grid-pane {
    -fx-background-color: #ffffff;
}

.radio-button {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #000000;
    -fx-border-color: #E1D9D1;
}

.radio-button:selected {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-border-color: #4CAF50;
}

.toggle-group {
  -fx-padding: 10px;
  -fx-background-color: #444444;
}

.toggle-button {
  -fx-background-color: #ffffff;
  -fx-text-fill: #000000;
}

.toggle-button:selected {
  -fx-background-color: #4CAF50;
  -fx-text-fill: #ffffff;
}

.scroll-pane {
    -fx-background-color: #D9D7CB;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: black;
    -fx-background-radius: 5em;
}
